.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/tsconfig.json
!file.ts
node_modules/**
media/styles/**
!node_modules/zeromq
**/esbuild.js
temp/**
media/images/demo.gif
